<div class="home-container">

  <header class="home-header">
    <img src="../../goodgym-logo.png" alt="GoodGym logo" class="home-logo">
    <h1 class="home-header__title">Task Sheet</h1>
  </header>

  <div class="col-container">
    <div class="col-1">
      <div class="task form">
        <h4>Task</h4>
        <textarea name="task">{{ data.name }} {{ data.strapline }}</textarea>
      </div>

      <div class="location form">
        <h4>Location</h4>
        <textarea name="location">{{ data.start_point }}</textarea>
      </div>

      <div class="purpose form">
        <h4>Purpose</h4>
        <textarea name="purpose">{{ data.description }}</textarea>
      </div>
    </div>

    <div class="col-2">
      <div class="map form">
        <h4>Map</h4>
        <div class="google-map">
        </div>
      </div>

      <div class="contact form">
        <h4>Contact</h4>
        <textarea name="contact"></textarea>
      </div>

      <div class="risks form">
        <h4>Risk</h4>
        <textarea name="risk"></textarea>
      </div>
    </div>
  </div>

  <div class="email-container">
    <div class="email-container__email form">
      <h4>Trainer Email Address</h4>
      <textarea class="email-container__email-input" name="email">{{ data.email }}</textarea>
    </div>
  </div>

  <div class="button-container">
    <span data-yoti-application-id="493d7947-896e-49f6-afd4-e6136b8a9a34" class="register-button">
      Register runners with Yoti &nbsp;
    </span>

    <button type="button" name="button" class="button-container__save-button">Save</button>
    <button type="button" name="button" class="button-container__save-verification-button hidden">
      <svg version="1.1" id="checkmark" class="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="-284 409.6 25.1 23.3" style="enable-background:new -284 409.6 25.1 23.3;" xml:space="preserve">
        <path class="st0" d="M-283.1,424.9l8,5.9l15-20.3"/>
      </svg>
    </button>

    <button type="button" name="button" class="button-container__send-email-button">Email QR code</button>
    <button type="button" name="button" class="button-container__qr-verification-button hidden">
      <svg version="1.1" id="checkmark" class="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="-284 409.6 25.1 23.3" style="enable-background:new -284 409.6 25.1 23.3;" xml:space="preserve">
        <path class="st0" d="M-283.1,424.9l8,5.9l15-20.3"/>
      </svg>
    </button>
  </div>
</div>
